.container {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  .left {
    color: #333;
  }
  .right {
    color: #666;
  }
}